<!DOCTYPE html>
{% load static %}
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <title>TFG</title>
    <link rel="stylesheet" href="{% static 'assets/bootstrap/css/bootstrap.min.css' %}">
    <link rel="stylesheet" href="{% static 'assets/fonts/fontawesome-all.min.css' %}">
    <link rel="stylesheet" href="{% static 'assets/fonts/font-awesome.min.css' %}">
    <link rel="stylesheet" href="{% static 'assets/fonts/fontawesome5-overrides.min.css' %}">
    <link rel="stylesheet" href="{% static 'assets/css/styles.min.css' %}">
</head>


<body>
    <div class="login-dark" style="background-image: url(&quot;{% static 'assets/img/stethoscope-1584223_1920.jpg' %}&quot;);">
        <form  method="post" action="/processmining/iniciarsesion/"style="background-color: rgb(255,255,255);">

            {% if errormessage %}
                <script>
                    alert('{{  errormessage }}');
                </script>

            {% endif %}
            {% csrf_token %}
            <h2 class="sr-only" style="padding-bottom: 0px;padding-right: 0px;padding-top: 0px;">Login Form</h2>
            <div class="illustration" style="margin: 8px;padding-top: -42px;padding-left: -3px;"><img src="{% static 'assets/img/logo_sas.png' %}"  style="width: 200px;height: 93px;margin: 0px;padding: 0px;padding-top: -16px;padding-bottom: 2px;"></div>
            <div class="form-group"><input class="form-control" type="username" name="userf" placeholder="Nombre de usuario" style="color: grey"></div>
            <div class="form-group"><input class="form-control" type="password" name="passf" placeholder="Password" style="color: grey"></div>
            <div class="form-group"><button class="btn btn-info active btn-block" type="submit">Iniciar sesión</button></div>

        </form>

    </div>
    <script src="{% static 'assets/js/jquery.min.js' %}"></script>
    <script src="{% static 'assets/bootstrap/js/bootstrap.min.js' %}"></script>
</body>

</html>