<!DOCTYPE html>
{% load static %}
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <title>TFG</title>
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Actor">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Cookie">
    <link rel="stylesheet" href="{% static 'assets/bootstrap/css/bootstrap.min.css' %}">
    <link rel="stylesheet" href="{% static 'assets/fonts/fontawesome-all.min.css' %}">
    <link rel="stylesheet" href="{% static 'assets/fonts/font-awesome.min.css' %}">
    <link rel="stylesheet" href="{% static 'assets/fonts/fontawesome5-overrides.min.css' %}">
    <link rel="stylesheet" href="{% static 'assets/css/styles.min.css' %}">
</head>

<body>
    {% csrf_token %}
    <nav class="navbar navbar-dark navbar-expand-md bg-dark d-block navigation-clean" style="width:110%;">
        <div class="container"><a class="navbar-brand" href="#">Bienvenido , {{ request.session.name }}</a><button data-toggle="collapse" class="navbar-toggler" data-target="#navcol-1"><span class="sr-only">Toggle navigation</span><span class="navbar-toggler-icon"></span></button>
            <div class="collapse navbar-collapse"
                id="navcol-1">
                <div class="col"><i class="fa fa-power-off" style="margin: 10px ;"></i><a href="/processmining/desconexion"> ¿ Desconexión ? </a></div>
                <ul class="nav navbar-nav ml-auto" style="width: 50%;">
                    <li class="nav-item" role="presentation"><a class="nav-link" href="/processmining/listaProcedimientos">Procedimientos</a></li>
                    <li class="nav-item" role="presentation"><a class="nav-link " href="/processmining/listaDeActividades">Actividades</a></li>
                    <li class="nav-item" role="presentation"><a class="nav-link" href="/processmining/listaDeRecursos">Recursos</a></li>
                    <li class="nav-item" role="presentation"><a class="nav-link active" href='/processmining/listaDePacientes' >Pacientes</a></li>
                    <li class="nav-item" role="presentation"><a class="nav-link" href='/processmining/listaLogs'>Logs de pacientes</a></li>
                    <li class="nav-item" role="presentation"><a class="nav-link" href='/processmining/listaminData'>Minería de datos</a></li>
                </ul>
            </div>
        </div>
    </nav>
    <div>
        <div class="container">
            <div class="row" style="width: 100%;">
                <div class="col-12">
                    <h2 style="width: 100%;text-align:center;">Lista de pacientes</h2>
                    <br>
                </div>
            </div>

            <div class="row ">
                 <div class = "table-responsive">

                <div class="col-12" style="width: 100%;"><table id="example" class="table table-striped table-bordered " cellspacing="0" width="100%">

        <thead>
            <tr>
                <th  style="text-align: center; vertical-align: middle;">NHC</th>
                <th  style="text-align: center; vertical-align: middle;">Sexo </th>
                <th  style="text-align: center; vertical-align: middle;">Origen del paciente</th>
                <th  style="text-align: center; vertical-align: middle;">Edad</th>
                <th  style="text-align: center; vertical-align: middle;">Fecha Inclusión</th>
                <th  style="text-align: center; vertical-align: middle;">Diagnostico del paciente </th>
                <th  style="text-align: center; vertical-align: middle;">Procedimiento aplicado</th>
                <th  style="text-align: center; vertical-align: middle;">Facultativo asociado </th>
            </tr>
        </thead>
        <tbody>
        {% for paciente in pacientes %}
            <tr>
                <td  style="text-align: center; vertical-align: middle;">{{ paciente.identificador_medico }} </td>
                <td  style="text-align: center; vertical-align: middle;">{{ paciente.sexo_paciente }} </td>
                <td  style="text-align: center; vertical-align: middle;">{{ paciente.origen_paciente }} </td>
                <td  style="text-align: center; vertical-align: middle;">{{ paciente.edad}} </td>
                <td  style="text-align: center; vertical-align: middle;">{{ paciente.fecha_inclusion}} </td>
                <td  style="text-align: center; vertical-align: middle;">{{ paciente.diagnostico}} </td>
                <td  style="text-align: center; vertical-align: middle;">{{ paciente.procedimiento_paciente.nombre_procedimiento}} </td>
                <td  style="text-align: center; vertical-align: middle;">{{ paciente.profesional_paciente.nombre}} </td>
            </tr>
         {% endfor %}
        </tbody>
    </table></div>
                      </div>
            </div>
        </div>

    </div>
    </div>
</body>

    <row><br><br></row>
  <footer class="bg-dark text-white border-top border-info">
        <!-- Start: Footer 1 -->
        <div class="container text-center text-sm-left position-relative py-5">
            <div class="row">
                <div class="col-sm-6 col-md-3">
                    <div class="row">
                        <div class="col">
                            <h3 class="text-info pb-2 border-bottom border-info" style="text-align: center;">Hospital Clínico Universitario Lozano Blesa</h3>
                            <p style="font-family: Actor, sans-serif;text-align: justify;font-size: 13px;">Trabajo de Final de Grado de ingeniería informática de David Ubide en la especialidad de sistemas de la información
                                coloborando con el Hospital Clínico Universitario Lozano Blesa</p>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col" style="text-align: center;"><img style="text-align: center;width: 100px;" src="{% static 'assets/img/by-nc.png' %}"></div>
                    </div>
                </div>
                <div class="col" style="text-align: center;"><img src="{% static 'assets/img/logo_sas.png' %}" style="width: 374px;text-align: right;"></div>
            </div>
        </div>
        <!-- End: Footer 1 -->
        <!-- Start: Copyright -->
        <div class="text-center text-lg-left py-2 small bg-dark text-info font-italic">
            <div class="container">
                <p class="m-0">2020 - Escuela de Ingeniería y Arquitectura - Universidad de Zaragoza</p>
            </div>
        </div>
        <!-- End: Copyright -->

    </footer>
    <script src="{% static 'assets/js/jquery.min.js' %}"></script>
    <script src="{% static 'assets/bootstrap/js/bootstrap.min.js' %}"></script>
</body>

</html>